.button-back {
    position: fixed;
    bottom: 100px;
    right: 50px;
    opacity: 0.5;
    width: 40px;
    height: 40px;
}

.button-back_hidden {
    display: none;
}

.button-back img {
    width: 100%;
}