.present {
    margin-top: 148px;
}

.present__subtitle {
    margin-top: 24px;
}

.present__advantages {
    margin-top: 56px;
    display: flex;
}

.present__advantages-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 55px;
}

.present__advantages-block img {
    margin-right: 16px;
}